.section.contact-us-cards {
    background-image: url('/images/contactus-sidebg.webp');
    background-repeat: no-repeat;

    .default-content-wrapper>p{
        padding-bottom: 20px;
    }
    .custom-card-wrapper {
        display: flex;
        justify-content: flex-end;
    }
}

.custom-card.contact-us-cards {
    padding-top: 64px;
    width: 50%;

    >div {
        margin-bottom: 34px;
        padding: 16px 24px;
        border: 2px solid rgba(241, 119, 58, 0.12);
        border-radius: 1rem;
        display: flex;
        align-items: center;
        width: 100%;

        >div:first-child {
            >picture>img {
                width: 44px;
                height: 44px;
            }
        }

        >div:nth-child(2) {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            text-align: start;

            p:first-child {
                font-size: 16px;
                line-height: 23px;
                font-family: var(--font-family-regular);
                font-weight: 700;
                color: #6d7585;
            }

            p:nth-child(2) {
                padding-top: 8px;
                font-size: 20px;
                line-height: 30px;
                font-family: var(--font-family-regular);
                font-weight: 700;
                color: #171a21;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .section.contact-us-cards {
        background-color: #fff;
        background-image: unset;
        padding-top: 24px;
        padding-bottom: 24px;

        .default-content-wrapper>p{
            display: none;
        }
    }

    .custom-card.contact-us-cards {
        width: 100%;
        padding-top: 32px;

        >div{
            >div:nth-child(2){
                padding-left: 8px;

                p:nth-child(2) {
                    font-size: 12.8px;
                    line-height: 19.2px;
                }
            }
        }
    }
}