.bg-light-blue:has(.trusted-companies-members) {
  background-color: transparent;
}

.trusted-companies-members.columns > div > div:first-child {
  width: 33%;
  flex: unset;
}

.trusted-companies-members.columns > div > div:first-child h2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.41;
  font-size: 1.938rem;
}

@media screen and (width <= 767px) {
  .trusted-companies-members.columns > div > div:first-child h2 .gradient-bar {
    margin: 0.6rem auto !important;
  }
}

.trusted-companies-members.columns > div > div:first-child p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #6d7585;
  font-size: 1rem;
  line-height: 1.437rem;
}

.trusted-companies-members.columns > div > div:first-child .button-container a.button {
  display: block;
  font-weight: 700;
  color: #171a21;
  text-decoration-line: underline;
  text-decoration-color: #6d7585;
  text-underline-offset: 0.4rem;
}

.trusted-companies-members.columns > div > div:first-child .button-container a.button:hover {
  text-decoration-color: #f27930;
}

.trusted-companies-members.columns > div > div:nth-child(2) ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.trusted-companies-members.columns > div > div:nth-child(2) ul li {
  margin: auto;
  width: 14rem;
  padding: 1rem 2rem;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  opacity: 0.49;
  mix-blend-mode: luminosity;
}

.trusted-companies-members.columns > div > div:nth-child(2) ul li .icon {
  display: block;
}

.trusted-companies-members.columns > div > div:nth-child(2) ul li .icon img {
  max-width: 100%;
  height: auto;
  mix-blend-mode: luminosity;
}

@media screen and (width <= 1200px) {
  .bg-light-blue:has(.trusted-companies-members) {
    background-color: var(--color-background-active);
  }

  .trusted-companies-members.columns > div {
    flex-direction: column;
  }

  .trusted-companies-members.columns > div > div:first-child {
    width: 100%;
  }

  .trusted-companies-members.columns > div > div:first-child h2 {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .trusted-companies-members.columns > div > div:first-child p {
    display: none;
  }

  .trusted-companies-members.columns > div > div:first-child .button-container {
    display: none;
  }

  .trusted-companies-members.columns > div > div:nth-child(2) ul li {
    margin: auto;
    width: 8rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
  }
}