.custom-card.prefer-max-life-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    padding: 24px;
    background-color: #F5FAFE;
    overflow: auto;

    >div>div {
        background-color: #fff;
        border-radius: 16px;
        width: 232px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        p:first-child{
            height: 74px;
            width: 74px;
            padding: 14px 14.2px;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08);
            border-radius: 16px;

            span>img {
                width: 46px;
                height: 46px;
            }
        }

        h3{
            padding-top: 16px;
            font-size: 20px;
            line-height: 28px;
            font-family: Manrope-Regular;
            font-weight: 600;
            color: #171a21;
            padding-left: 8px;
        }

        p{
            padding-top: 4px;
            font-size: 16px;
            line-height: 22.9px;
            font-family: Manrope-Regular;
            font-weight: 600;
            color: #6D7585;
            padding-left: 8px;
        }

        pre>code{
            font-size: 10px;
            line-height: 14px;
            font-family: Manrope-Regular;
            color: #171a21;
            padding-left: 8px;
        }
    }
}

@media only screen and (max-width: 1024px){
    .custom-card.prefer-max-life-cards{
        flex-wrap: unset;
    }
}