header {
    height: 80px;
    box-shadow: 0 2px 8px 0 rgba(29, 37, 56, 0.12);
    background-color: #fff;

    .nav-brand {
        >div {
            width: 79px;
            height: 48px;
        }
    }


    .nav-sections {
        >div {
            display: flex;
            align-items: center;

            >ul>li>p,
            >ul:last-child>li {
                margin-top: -2rem;
                margin-bottom: -2rem;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding-top: 2rem;
                padding-bottom: 2rem;
                padding-left: 1rem;
                padding-right: 1rem;
                font-family: var(--font-family-bold);
            }



            >ul {
                .nav-drop {
                    >ul {
                        padding-top: 1.5rem;
                        padding-bottom: 1.5rem;
                        align-items: start;
                        gap: 20px;
                        max-width: 1240px;
                        margin: 0px auto;
                        width: 100%;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 10px;
                    }

                    >ul:before {
                        content: "";
                        z-index: -1;
                        width: 100vw;
                        height: 100%;
                        position: absolute;
                        background-color: aquamarine;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }

    .nav-tools {
        >div {
            display: flex;
            gap: 10px;

            .button-container {
                em {
                    .secondary {
                        background-color: transparent;
                        padding: 0.5rem 1rem;
                        color: var(--color-text-primary, #171a21);
                        border: 1px solid rgb(109, 117, 133);
                        border-radius: 20px;
                        text-align: center;
                        font-family: var(--font-family-bold);
                        font-size: var(--size-font-sm);
                        line-height: var(--line-height-sm);
                        height: 2rem;
                    }
                }
            }

        }
    }
}