@import url("./bandhan-bank-header.css");

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}
header.bandhan-bank-savings-account .nav-wrapper {
  /* background-color: var(--background-color); */
  width: 100%;
  z-index: 2;
  padding: 0 14%;
  align-items: center;
  /* position: fixed; */
  display: flex;
  align-content: center;

  box-shadow: 0 4px 8px lightgray;
  background-color: #fff;

}

header nav {
  box-sizing: border-box;

  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height) 'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
}
header.bandhan-bank-savings-account nav {
  box-sizing: border-box;

  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height) 'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  /* margin: auto; */
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
  align-items: center;
  justify-content: center;
  width: 100%;

  display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

header.bandhan-bank-savings-account nav  .nav-sections{
  background-color: #004880;
}
header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height) 'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >=900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;  
}
header.bandhan-bank-savings-account nav p {

  font-family: 'Lato';
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.04;
  letter-spacing: normal;
  text-align: left;
  color: #083152;
  justify-content: center;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;

  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >=900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;

}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

header nav .nav-brand img-1 {
  width: 317px;
  height: 56px;
  margin-top: 18px;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header.bandhan-bank-savings-account nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  color: blue;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav .nav-sections ul>li {
  font-weight: 500;
}

header nav .nav-sections ul>li>ul {
  margin-top: 0;
}

header nav .nav-sections ul>li>ul>li {
  font-weight: 400;
}

@media (width >=900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper>ul>li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true']>ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul>li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

/* Bandhan bank header Start */

header .nav-wrapper {
  position: relative;
}

header .nav-wrapper {
  background-color: #fff !important;
  border-bottom: 1px solid #E6E6E6;
  box-shadow: 6px 3px 6px #0000001F;
}

header nav {
  max-width: unset;
}

/* Nav Section Start */

header nav .nav-sections {
  height: 100%;
}

header nav .nav-sections ul {
  display: flex;
  gap: unset;
}

header nav[aria-expanded='true'] .nav-sections {
  width: 50%;
  height: 100%;
}

header nav .nav-sections .default-content-wrapper,
header nav .nav-sections .default-content-wrapper>ul,
header nav .nav-tools .default-content-wrapper,
header nav .nav-tools .default-content-wrapper>ul {
  height: 100%;
}

header nav .nav-sections .default-content-wrapper>ul>li {
  position: relative;
  height: 100%;
  margin: 0 9px;
  display: flex;
  align-items: center;
}

header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded="true"] {
  background-color: #E3F2FF;
  color: #004880;
  font-weight: bold;
}

header nav .nav-sections .default-content-wrapper>ul>li:hover {
  background-color: #E3F2FF;
}

header nav .nav-sections .default-content-wrapper>ul>li:hover>a img {
  transform: scale(1.1);
}

header nav .nav-sections .default-content-wrapper>ul>li>a {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 13px 30px 13px 60px;
  background-color: transparent;
  font-size: 16px;
  color: #004880;
  cursor: pointer;
  padding: 0 20px;
  text-decoration: unset;
  gap: 3px;
  font-family: 'Lato';
}

header nav .nav-sections .default-content-wrapper>ul>li>a .icon {}

header nav .nav-sections .default-content-wrapper>ul>li>a img {
  display: block;
  width: 18px;
  height: 18px;
  transform: scale(1);
  transition: all 0.4s ease-out;
}

header nav .nav-sections .default-content-wrapper>ul>li:nth-child(n+6),
header nav .nav-sections .default-content-wrapper>ol {
  display: none;
}

/* Nav Section End */

/* Nav Tools Start */

header nav .nav-tools {
  width: 28%;
  height: 100%;
}

header nav .nav-tools .default-content-wrapper>ul {
  display: flex;
}

header nav .nav-tools .default-content-wrapper>ul>li {
  list-style: none;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  position: relative;
}

header nav .nav-tools .default-content-wrapper>ul>li>ul[aria-expanded='false'] {
  display: none;
}

header nav .nav-tools .default-content-wrapper>ul>li>ul[aria-expanded='true'] {
  display: block;
  position: absolute;
  right: 0;
  z-index: 1000;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  top: 100%;
  min-width: 260px;
  padding: 20px 15px;
}

header nav .nav-tools .default-content-wrapper>ul>li>ul[aria-expanded='true'] >li >a{
  color: #004880;
  border: 1px solid #004880;
  border-radius: 5px;
  padding: 8px 10px;
  width: 100%;
  display: block;
  margin: 0 auto 15px;
  text-align: center;
  line-height: 1.2;
  text-decoration: unset;
}

header nav .nav-tools .default-content-wrapper>ul>li>p strong a:first-child,
header nav .nav-tools .default-content-wrapper>ul>li>p em:first-child{
  display: none;
}

header nav .nav-tools .default-content-wrapper>ul>li>p>a>span img {
  display: block;
  width: 20px;
  height: 20px;
}



header nav .nav-tools .default-content-wrapper>ul>li>p strong,
header nav .nav-tools .default-content-wrapper>ul>li>p em {
  padding: 7px 15px;
  color: #093252;
  background-color: #fff;
  border-color: #093252;
  border: 2px solid #093252;
  text-decoration: none;
  outline: 0;
  font-size: 14px;
  border-radius: 4px;
  line-height: 15px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


header nav .nav-tools .default-content-wrapper>ul>li>p em {
  color: #fff;
  background-color: #004880;
  border-color: #004880;
  outline: 0;
}

header nav .nav-tools .default-content-wrapper>ul>li>p em:first-child{
  background-color: unset;
  margin: unset;
  padding: unset;
}

header nav .nav-tools .default-content-wrapper>ul>li>p strong a,
header nav .nav-tools .default-content-wrapper>ul>li>p em a {
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
}

header nav .nav-sections .default-content-wrapper >p{
  display: none;
  font-family: 'Lato';
}

/* Nav Tools End */

@media only screen and (min-width: 1400px) {
  header nav[aria-expanded='true'] {
    height: 80px;
  }
}

@media only screen and (min-width: 1200px) and (min-width: 1500px) {
  header nav[aria-expanded='true'] {
    padding-right: 110px;
    padding-left: 110px;
  }
}

/* Bandhan bank header End */


@media screen and (max-width: 900px) {

  header nav {
    display: flex;
    padding: 0 16px;
    gap: unset;
    justify-content: space-between;
  }


  header nav .nav-tools{
    width: auto;
  }

  header nav[aria-expanded='true'] {
    min-height: unset;
    overflow: unset;
  }

  header nav[aria-expanded='true'] .nav-sections {
    position: fixed;
    width: 80%;
    max-width: 300px;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
    z-index: 10;
    padding-top: 20px;
    min-height: 100dvh;
  }

  header nav .nav-hamburger-icon::before, header nav .nav-hamburger-icon::after{
    background-color: #fff;
  }

  header .nav-wrapper{
    position: unset;
  }

  header nav .nav-sections ul {
    flex-direction: column;
  }

  header nav .nav-hamburger button[aria-label="Close navigation"] {
    position: absolute;
    left: 305px;
    top: 0;
    z-index: 2;
  }

  header nav .nav-sections .default-content-wrapper>ul{
    height: unset;
  }

  header nav .nav-sections .default-content-wrapper>ul>li:nth-child(n+6),
  header nav .nav-sections .default-content-wrapper>ol {
    display: flex;
  }

  header nav .nav-sections .default-content-wrapper>ul>li{
    justify-content: flex-start;
  }

  header nav .nav-tools .default-content-wrapper>ul>li >p:has(em){
    width: 22px;
    height: 22px;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>a{
    flex-direction: row;
    gap: 15px;
    padding: 13px 30px 13px 25px;
  }

  header nav .nav-sections .default-content-wrapper>ol{
    gap: 15px;
    padding: 13px 30px 13px 30px;
  }
  header nav .nav-sections .default-content-wrapper>ol >li{
    list-style: none;
  }

  header nav .nav-sections .default-content-wrapper>ol >li >a >span >img{
    display: block;
    width: 22px;
    height: 22px;
  }

  header nav .nav-sections .default-content-wrapper >p{
    display: block;
    font-size: 10px;
    padding-left: 30px;
    margin-top: 5px;
  }

  header nav .nav-tools .default-content-wrapper>ul>li>p strong a:first-child,
  header nav .nav-tools .default-content-wrapper>ul>li>p  em:first-child{
    display: block;

  }

  header nav .nav-tools .default-content-wrapper>ul>li>p >strong >a:first-child >span >img,
  header nav .nav-tools .default-content-wrapper>ul>li>p >em:first-child a >span >img{
    display: block;
    width: 18px;
    height: 18px;
  }

  header nav .nav-tools .default-content-wrapper>ul>li>p >strong >em:first-child{
    background-color: unset;
  }

  header nav .nav-tools .default-content-wrapper>ul>li>p strong, header nav .nav-tools .default-content-wrapper>ul>li>p em{
    border: unset;
    max-height: 50px;
    padding: 0 15px;
  }

  header nav .nav-tools .default-content-wrapper>ul>li>p strong a:last-child,
  header nav .nav-tools .default-content-wrapper>ul>li>p em:last-child{
    display: none;
  }
}

body{
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black */
  z-index: 1;
}

header.bandhan-bank-savings-account nav .nav-tools .default-content-wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-right: -190px;
}

header.bandhan-bank-savings-account nav .nav-tools .default-content-wrapper p{
 font-size:26px !important;
  margin-top:10px
}

header.bandhan-bank-savings-account nav  .nav-sections{
  /* background-color: #083152; */
  /* display: none; */
  width: 0 !important;
  height: 0 !important;
  }
  
  
  
  header.bandhan-bank-savings-account nav .nav-brand img {
    width: 335px;
    height: 56px;
    margin-left: -107px;
  }