.teaser.term-insurance-banner {
    position: relative;
    height: 470px;
    padding-top: 80px;

    >div:first-child>div {
        p:first-child {
            position: absolute;
            right: 47px;
            top: 90px;

            >picture>img {
                width: 348px;
                height: auto;
                padding-top: 47px;
                padding-right: 16px;
            }
        }

        p:nth-child(2) {
            position: absolute;
            top: 97px;
            right: -8px;
            left: auto;
        }
    }

    >div:nth-child(2)>div {
        padding-top: 56px;
        width: 61%;

        h6 {
            font-size: 40px;
            line-height: 43px;
            font-family: var(--font-family-bold);
            font-weight: 700;
        }

        ul {
            margin-top: 32px;
            display: flex;
            flex-wrap: wrap;
            gap: 24px;

            li {
                font-size: 20px;
                line-height: 28px;
                font-family: var(--font-family-regular);
                width: 45%;
                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    width: 22px;
                    height: 22px;

                    img {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }
    }

    >div:nth-child(3)>div {
        background: #3597ec;
        width: 424px;
        height: 424px;
        border-radius: 50%;
        border: solid #c1ddf5 20px;
        position: absolute;
        opacity: 0.08;
        right: 20px;
        top: 90px;
    }
}


@media only screen and (max-width: 1024px) {
    .teaser.term-insurance-banner {
        height: 280px;
        padding-top: 35px;

        >div:first-child>div {
            p:first-child {
                right: 5px;
                top: 80px;

                >picture>img {
                    width: 110px;
                    padding-top: 16px;
                }
            }


            p:nth-child(2) {
                top: 57px;
                left: 0;
                >picture>img {
                    width: 120px;
                    height: 11px;
                }
            }
        }

        >div:nth-child(2)>div {
            width: 100%;

            h6 {
                font-size: 20px;
                line-height: 22px;
                width: 60%;
            }

            ul {
                width: 100%;
                position: relative;
                background: #f1f6fa 0% 0% no-repeat padding-box;
                margin-top: 32px;
                z-index: 1;

                li {
                    font-size: 10px;
                    line-height: 14px;
                    color: #6b7280;

                }
            }
        }

        >div:nth-child(3)>div {
            width: 40%;
            height: 128px;
            right: 2px;
            top: 70px;
            border: unset;
        }
    }
}