
.hdfc-detail>div>div:nth-child(2) h3 {
    font-weight: 600;
    font-size: 18px;
    color: #005e9e;
    display: flex;
    cursor: text;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: 0;
    outline: 0;
    background-color: unset;
    gap: 10px;
    position: relative;
}

.hdfc-detail>div>div:nth-child(1) p {
    color: #454545;
}

.hdfc-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 18px;
}

.hdfc-detail .button-container .button {
    display: none;
    text-decoration: none;
    color: #0056a5;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}


.hdfc-detail > div > div:nth-child(2) p{
    font-size: 16px;
    line-height: 20px;
    color: #454545;
    font-weight: 400;
    padding-left: 38px;
} 
.hdfc-detail > div > div:nth-child(2) p > a{
color: #007bff;
    text-decoration: none;
    background-color: transparent;
 }


.hdfc-detail-dot > div > div:nth-child(2) h3::after
{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #3c4b69;
     flex-direction: row-reverse;
    align-items: flex-start;
    left: 20px;
}
.hdfc-detail-dot > div > div:nth-child(2) h3{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
}


@media (max-width:768px) {
    .hdfc-detail {
        grid-template-columns: 1fr;
        justify-content: center;
        place-items: center;
        gap: 40px;
    }

    .hdfc-detail .button-container .button {
        display: block;
        text-decoration: none;
    }
   

    .hdfc-detail>div>div:nth-child(2) p.active {
        max-height: 1000px;
    }

    .hdfc-detail>div>div:nth-child(2) p {
        max-height: 40px;
        overflow: hidden;
        transition: all .5s linear;
    }

    /* dot */
    .hdfc-detail-dot > div > div:nth-child(2) h3{

        justify-content: flex-end;
    }
}


/* .hdfc-detail.hdfc-detail-img */
.hdfc-detail.hdfc-detail-img{gap: unset;display: flex;border-radius: unset;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;}
.hdfc-detail.hdfc-detail-img  > div > div:nth-child(2) h3 {color:black;font-weight: 600;font-size: 22px;padding: unset;border-bottom: 1px solid #dee2e6;gap: 30px;padding-bottom: 18px;}
.hdfc-detail.hdfc-detail-img > div > div:nth-child(2) h3 > span{
padding-left:15px;
}
.hdfc-detail.hdfc-detail-img > div > div:nth-child(2)  p {
    margin-top: 1.5rem;
     font-size: 16px;
    line-height: 20px;
    color: #666;
    font-weight: 400;   
}
.hdfc-detail.hdfc-detail-img > div > div:nth-child(2)  p > a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.hdfc-detail-img > div{
     position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
}
@media (min-width: 992px){
.hdfc-detail-img > div {
            flex: 0 0 50%;
            max-width: 50%;
            margin-block: 16px;
}
}
/* .hdfc-detail.hdfc-detail-img  */