.life-insurance {
  .carousel-wrapper {
    .carousel.block.swiper {
      .swiper-wrapper {
        .swiper-slide {
          padding: 0 1rem;
          picture {
            padding-left: 1rem;
            left: 1rem;
            img {
              height: 77px;
              width: 66px;
            }
            &::after {
              content: "";
              display: block;
              width: 5.125rem;
              height: 5px;
              background-color: var(--color-background-light);
              border-radius: 5px;
              position: absolute;
              top: 90px;
            }
          }

          div:nth-child(2),
          div:nth-child(3) {
            background-color: unset;
            // margin: 120px 0;
            border-left: 1px solid #ebedf0;
            padding: 0 0 0 1rem;
            // height: 17rem;

            h3 {
              font-size: 1.563rem;
              margin-top: 32px;
              line-height: var(--line-height-base);
              color: var(--color-secondary);
              font-family: var(--font-family-bold);
            }
            p {
              padding-top: 1.25rem;
              padding-bottom: 1.25rem;
              color: var(--color-text-primary);
              font-family: var(--font-family-semi-bold);
              line-height: var(--line-height-base);
              // height: 15rem;
            }
          }
        }
      }
    }
    .swiper-button-next {
    }
    .swiper-button-prev {
    }
  }
}
