.life-insurance {
  .default-content-wrapper {
    p {
      line-height: 1.44;
      color: var(--color-text-primary);
      font-family: var(--font-family-semi-bold);
      padding-top: 24px;
      padding-bottom: 3rem;
      a {
        color: rgb(51, 102, 255);
        text-decoration: underline;
      }
    }
  }
  .carousel-wrapper {
    position: relative;
    .carousel.block.swiper {
      position: unset;
      .swiper-wrapper {
        .swiper-slide {
          padding: 0 1rem;
          picture {
            padding-left: 1rem;
            left: 1rem;
            img {
              height: 77px;
              width: 66px;
            }
            &::after {
              content: "";
              display: block;
              width: 5.125rem;
              height: 5px;
              background-color: var(--color-background-light);
              border-radius: 5px;
              position: absolute;
              top: 90px;
            }
          }

          div:nth-child(2),
          div:nth-child(3) {
            background-color: unset;
            // margin: 120px 0;
            border-left: 1px solid #ebedf0;
            padding: 0 0 0 1rem;
            // height: 17rem;

            h3 {
              font-size: 1.563rem;
              margin-top: 32px;
              line-height: var(--line-height-base);
              color: var(--color-secondary);
              font-family: var(--font-family-bold);
              @media screen and (max-width: 767px) {
                font-size: 1rem;
              }
            }
            p {
              padding-top: 1.25rem;
              padding-bottom: 1.25rem;
              color: var(--color-text-primary);
              font-family: var(--font-family-semi-bold);
              line-height: var(--line-height-base);
              // height: 15rem;
            }
          }
        }
      }
    }

    .swiper-pagination {
      display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: block;
    }

    .swiper-button-next::after {
      content: "";
      position: absolute;
      background-image: url("../../images/abha-card-arrow-next.svg");
      background-repeat: no-repeat;
      height: 35px;
      width: 35px;
      right: -50px;
    }

    .swiper-button-prev::after {
      content: "";
      position: absolute;
      background-image: url("../../images/abha-card-arrow-next.svg");
      background-repeat: no-repeat;
      height: 35px;
      width: 35px;
      left: -50px;
      transform: rotate(180deg);
    }
  }
}

@media screen and (max-width: 768px) {
  .life-insurance {
    .carousel-wrapper {
      .swiper-pagination {
        display: block;
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }
  }
}
