.custom-card.term-insurance-cards {
    background-color: rgb(255 255 255 / 1);
    box-shadow: 0px 4px 8px #171a211f;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    padding: 32px;

    >div {
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 8px #5097e529;
        border-radius: 12px;
        border: solid 1px #ebedf0;
        min-height: 157px;
        min-width: 174px;
        max-height: 124px;
        max-width: 104px;
        position: relative;
        margin-right: auto;
        margin-left: auto;

        >div {
            height: 100%;

            p {
                position: absolute;
                top: 18%;
                left: 37%;

                a>span>img {
                    width: 43px;
                    height: 48px;
                }
            }

            h6 {
                font-size: 16px;
                line-height: 21px;
                font-family: manrope-bold;
                font-weight: 500;
                color: #171a21;
                text-align: center;
                padding: 83px 20px 0;
            }

            pre {
                text-align: center;
                background: #cef5e1;
                display: block;
                width: 98%;
                position: absolute;
                top: -10px;
                left: 2px;
                padding: 4px 0;
                border-radius: 12px;

                code {
                    color: rgb(9, 154, 79);
                    font-size: 10px;
                    line-height: 14px;
                    font-family: manrope-bold;
                    font-style: normal;
                }
            }
        }
    }

    >div:hover {
        box-shadow: 0 6px 24px 0 rgba(23, 26, 33, 0.12);
        border: solid 1px transparent;
    }
}


.custom-card.redirect-card {
    >div>div>p {
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }
}


@media only screen and (max-width: 768px) {
    .custom-card.term-insurance-cards {
        padding: 16px;
        gap: 5px;

        >div {
            width: 32%;
            min-height: unset;
            min-width: unset;
            max-height: unset;
            max-width: unset;
            border: unset;

            >div {
                h6 {
                    font-size: 13px;
                    line-height: 16px;
                    padding: 90px 10px 15px;
                }

                p {
                    top: 21%;
                    left: 31%;
                }

                pre {
                    code {
                        font-size: 8.192px;
                        line-height: 10.992px;
                    }
                }
            }
        }
    }
}