.columns.beware-of-offers {
    >div {
        justify-content: space-between;

        >div {
            width: 40%;

            p {
                color: #171a21;
                font-size: 0.64rem;
                line-height: 0.875rem;
                font-family: var(--font-family-regular);
                font-weight: 400;

                strong {
                    font-family: var(--font-family-bold);
                    font-weight: 700;
                }

                em {
                    background-color: unset;
                    color: #171a21;
                    font-size: 0.64rem;
                    line-height: 0.875rem;
                    font-family: var(--font-family-regular);
                    font-weight: 400;
                    padding: 0;
                    text-decoration: underline;
                }
            }
        }

        div:nth-child(2) {
            p {
                padding-top: 20px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .columns.beware-of-offers {
        >div{
            flex-direction: row;
            gap: 30px;
            padding: 24px 0;
            >div{
                width: 100%;
            }
        }
    }
}