@import url("./accordion-new.css");
@import url("./disclaimer-footer.css");
@import url("./quick-links-footer.css");

.accordion-dropdown .accordion-item:nth-child(1) {
  display: none;
}

.accordion-dropdown details summary {
  position: relative;
  padding: 0 16px;
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  transition: background-color 0.2s;
}

.accordion-dropdown details[open] summary {
  background-color: var(--light-color);
}

.accordion-dropdown details summary:focus,
.accordion-dropdown details summary:hover {
  /* background-color: var(--light-color); */
}

.accordion-dropdown details summary::marker {
  display: none;
}

.accordion-dropdown details summary::after {
  content: "";
  color: #6d7585;
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 9px;
  height: 9px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion-dropdown details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion-dropdown details .accordion-item-body {
  padding: 0 16px;
}

.accordion-dropdown details[open] .accordion-item-body {
  /* border-top: 1px solid #dadada; */
  background-color: var(--background-color);
}

.accordion-dropdown details summary::-webkit-details-marker {
  display: none;
}

main .section.accordion-dropdown-container .accordion-dropdown-wrapper .accordion-dropdown.block.hdfc-blue-faq details .accordion-item {
  border-bottom: unset;
}

.accordion-dropdown.hdfc-blue-faq details summary::after {
  color: #005e9e;
}

.accordion-dropdown.hdfc-blue-faq details summary {
  display: flex;
  justify-content: start;
  gap: 10px;
  cursor: pointer;
}

.accordion-dropdown.hdfc-blue-faq details summary h3 {
  color: #005e9e;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
}

.accordion-dropdown.hdfc-blue-faq details summary span {
  color: #005e9e;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

main .section.accordion-dropdown-container .accordion-dropdown-wrapper .accordion-dropdown.block.hdfc-red-faq .accordion-item {
  padding: 20px;
  background: #fff;
  border: 1px solid #c7cacc;
  margin: 15px 0;
  position: relative;
}
main .section.accordion-dropdown-container .accordion-dropdown-wrapper .accordion-dropdown.block.hdfc-red-faq .accordion-item::before {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 0;
  background: #ed1c24;
  left: 0;
  top: -1px;
  transition: all 0.5s linear;
}

main .section.accordion-dropdown-container .accordion-dropdown-wrapper .accordion-dropdown.block.hdfc-red-faq .accordion-item[open]::before {
  height: 100px;
}

.accordion-dropdown.hdfc-red-faq details summary::after {
  content: unset;
}

.accordion-dropdown.hdfc-red-faq details summary {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.accordion-dropdown.hdfc-red-faq details summary span.number {
  flex: none;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #edf8ff, #edf8ff00);
  text-align: center;
  color: #005e9e;
}

.accordion-dropdown.hdfc-red-faq details summary h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #233253;
}


.accordion-dropdown.hdfc-red-faq .red-arrow{
  background: #fff;
  border: 1px solid #ed1c2499;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
  color: white;
  margin-left: auto;
  position: relative;
  flex: none;
}

.accordion-dropdown.hdfc-red-faq .red-arrow::after {
  content: "";
  color: #ed1c24;
  position: absolute;
  top: 5px;
  left: 7px;
  transform: rotate(135deg);
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion-dropdown.hdfc-red-faq details[open] .red-arrow {
  background: #ed1c24;
}

.accordion-dropdown.hdfc-red-faq details[open] .red-arrow::after {
  color: #fff;
  transform: rotate(-45deg);
  top: 7px;
}