footer.footer-wrapper {
  .footer.block {
    .quick-links-footer {
      padding-top: 3rem;
      padding-bottom: 3rem;
      @media screen and (max-width: 767px) {
        padding-top: 2rem;
        padding-bottom: 0;
      }
      .accordion-dropdown-wrapper {
        .accordion-dropdown.block {
          display: grid;
          grid-template-areas:
            "item1 item2 item5 item6"
            "item3 item4 item5 item6";
          gap: 10px;
          font-size: var(--size-font-sm);
          @media screen and (max-width: 767px) {
            display: block;
          }
          .accordion-item {
            &:nth-child(2) {
              grid-area: item1;
            }
            &:nth-child(3) {
              grid-area: item2;
            }
            &:nth-child(4) {
              grid-area: item3;
              padding-top: 2rem;
              @media screen and (max-width: 767px) {
                padding-top: 0;
              }
            }
            &:nth-child(5) {
              grid-area: item4;
              padding-top: 2rem;
              @media screen and (max-width: 767px) {
                padding-top: 0;
              }
            }
            &:nth-child(6) {
              grid-area: item5;
            }
            &:nth-child(7) {
              grid-area: item6;
            }

            summary {
              @media screen and (max-width: 767px) {
                padding: 0;
              }
              p {
                margin-bottom: 1.5rem;
                font-family: var(--font-family-bold);

                strong {
                  @media screen and (max-width: 767px) {
                    display: flex;
                    justify-content: space-between;
                  }
                  span {
                    display: none;
                    @media screen and (max-width: 767px) {
                      display: block;
                    }
                  }
                }
              }
              &::after {
                display: none;
                @media screen and (max-width: 767px) {
                  display: block;
                  color: black;
                  height: 6px;
                  width: 6px;
                }
              }
            }
            .accordion-item-body {
              @media screen and (max-width: 767px) {
                padding: 0;
              }
              ul {
                li {
                  margin-bottom: 0.5rem;
                  color: #8690a3;
                  font-family: var(--font-family-regular);
                  span img {
                    margin-top: 10px;
                    @media screen and (max-width: 767px) {
                      margin-top: 8px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.accordion-dropdown.only-mobile-expandable.block {
  .accordion-item[aria-disabled] {
    summary {
      pointer-events: none;
    }
  }
}
