.section.saving-bank .carousel-wrapper{
	background-color: azure;
	box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.27);
		padding: 50px 20px;
		margin-bottom: 40px;
		background-color: white;
		color: #034880;
		font-size: 24px;
		display: flex;
		border-radius: 10px;
}

.block.carousel.saving-bank.swiper .swiper-slide > div > picture > img{
	width: 25%;
	object-fit: fill;
}

.carousel-container-0{
    padding: 70px 14% 0 14%;
    margin-top: -17px;
  }
