/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url("./reset.css");

/* @import url("../blocks/cards/cards.css"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-primary: #f27930;
  --color-secondary: #143a72;
  --color-active: #3597ec;
  --color-inactive: #c2c7d1;
  --color-light: #ebedf0;
  --color-dark: #173b70;
  --color-grey-dark: #707070;
  --color-background-primary: #f27930;
  --color-background-light: #ebedf0;
  --color-background-active: #e6f2fd;
  --color-background-default-dark: #f7f8f9;
  --color-shadow-primary: #171a211f;
  --color-shadow-secondary: #171a210f;
  --color-text-primary: #171a21;
  --hamburger-color: black;
  --color-alice-blue: #f1f6fa;

  /* Font Sizes */
  --size-font-2xs: 0.512rem;
  --size-font-xs: 0.64rem;
  --size-font-sm: 0.8rem;
  --size-font-base: 1rem;
  --size-font-lg: 1.25rem;
  --size-font-xl: 1.563rem;
  --size-font-2xl: 1.953rem;
  --size-font-4xl: 4rem;

  /* Line Heights */
  --line-height-2xs: 0.687rem;
  --line-height-xs: 0.875rem;
  --line-height-sm: 1.125rem;
  --line-height-base: 1.5rem;
  --line-height-lg: 1.75rem;
  --line-height-xl: 2.187rem;
  --line-height-2xl: 2.75rem;
  --line-height-3xl: 5.76rem;

  /* Font Family */
  --font-family-regular: manrope-regular, "sans-serif";
  --font-family-semi-bold: manrope-medium, "sans-serif";
  --font-family-bold: manrope-bold, "sans-serif";
  --font-family-light: manrope-light, "sans-serif";
  --font-family-sans: sans-serif;
  --font-family-serif: serif;
  --font-family-mono: monospace;
}

/* Container */
body {
  line-height: 1;
  overflow: hidden auto;
  font-size: var(--font-size-s);
  font-family: Arial !important
}

/* .section > div {
  max-width: 1240px;
  margin: auto;
} */

:root, main {
  width: 100%;
  height: 100%;
}

/* Headings */
h1 {
  font-size: var(--size-font-2xl);
  line-height: var(--line-height-2xl);
}

h3 {
  font-family: var(--font-family-bold);
  font-size: var(--size-font-lg);
  line-height: var(--line-height-lg);
}

h4 {
  font-family: var(--font-family-semi-bold);
  font-size: var(--size-font-base);
  line-height: var(--line-height-base);
}

h5 {
  font-size: var(--size-font-sm);
  line-height: var(--line-height-sm);
}

h5,
h6 {
  font-family: var(--font-family-regular);
}

h6 {
  font-size: var(--size-font-xs);
  line-height: var(--line-height-xs);
}

h2 strong {
  font-size: var(--size-font-4xl);
  line-height: var(--line-height-3xl);
  color: var(--color-secondary);
}

img {
  width: 100%;
  height: auto;
}

@media screen and (width < 768px) {
  .desktop-only {
    display: none;
  }
}

@media screen and (width > 768px) {
  .mobile-only {
    display: none;
  }
}

/* Background Colors */

.bg-default-dark-light-gray {
  background-color: var(--color-background-default-dark);
}

.bg-dark-gray {
  background-color: var(--color-background-light);
}

.bg-light-blue {
  background-color: var(--color-background-active);
}

.bg-primary-orange {
  background-color: var(--color-background-primary);
}

.bg-alice-blue {
  background-color: var(--color-alice-blue);
}

.bg-gradient-purple {
  background: linear-gradient(
    45deg,
    rgb(196 221 254 / 32%) -12.5%,
    rgb(254 216 247 / 32%) 112.5%
  );
}

.bg-gradient-blue {
  background-image: linear-gradient(to bottom, #62baf8, #497af8);
}

/* padding classes */

.pt-32 {
  padding-top: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pt-48 {
  padding-top: 48px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pt-64 {
  padding-top: 64px;
}

.pb-64 {
  padding-bottom: 64px;
}

/* Paragraph */

.p-style-12 {
  font-size: var(--size-font-sm);
  line-height: var(--line-height-sm);
  font-family: var(--font-family-regular);
  color: #000;
}

.p-style-20 {
  font-size: var(--size-font-lg);
  line-height: var(--line-height-base);
  font-family: var(--font-family-regular);
  font-weight: 500;
  color: #171a21;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

/* text center */
.text-center {
  text-align: center;
}

p > em {
  font-family: var(--font-family-regular);
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 12.8px;
  line-height: 18px;
  border-radius: 17px;
  padding: 8px 16px;
  color: #6d7585;
  background-color: #f7f8f9;
  font-style: normal;
}

/* Flex container */
.flex-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.width-50 > div > div > div > div.default-content-wrapper {
  width: 50%;
}

.width-65 > div > div > div > div.default-content-wrapper {
  width: 65%;
}

.dp-none {
  display: none;
}

/* header,
header .nav-wrapper #nav {
  height: 80px;
} */

.section.para-spacing .default-content-wrapper p:nth-child(1) {
  padding-bottom: 20px;
}

@media screen and (width <=767.99px) {
  .section > div {
    width: 90%;
  }

  .pt-mob-16 {
    padding-top: 16px;
  }

  .pb-mob-16 {
    padding-bottom: 16px;
  }

  .pt-mob-40 {
    padding-top: 40px;
  }

  .pb-mob-40 {
    padding-bottom: 40px;
  }
}

@media screen and (width <=1200px) {
  .section > div {
    /* padding: 0 16px; */
    margin: unset;
    width: 100%;
  }

  /* header,
  header .nav-wrapper #nav {
    height: 50px;
  } */

  h2 {
    font-size: var(--size-font-lg);
    line-height: var(--line-height-lg);
  }

  h2 strong {
    font-size: var(--size-font-2xl);
    line-height: var(--line-height-2xl);
  }

  .p-style-12 {
    font-size: var(--size-font-xs);
    line-height: var(--line-height-xs);
  }

  .p-style-20 {
    font-size: var(--size-font-base);
    line-height: var(--line-height-base);
  }

  .width-50 > div > div > div > div.default-content-wrapper {
    width: 100%;
  }

  .width-65 > div > div > div > div.default-content-wrapper {
    width: 100%;
  }

  .section.page-container>div {
    max-width: 100% !important;
    padding: 0 16px;
  }
}

@media screen and (width <=768px) {
  .mob-mt-30 {
    margin-top: 30px;
  }

  .mob-mt-40 {
    margin-top: 40px;
  }

  .mob-mt-50 {
    margin-top: 50px;
  }

  .mob-mb-30 {
    margin-bottom: 30px;
  }

  .mob-mb-40 {
    margin-bottom: 40px;
  }

  .mob-mb-50 {
    margin-bottom: 50px;
  }
}

@media (width >=900px) {
  .section.page-container>div {
    max-width: 1170px !important;
    margin: 0 auto !important;
  }
}

.section {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.section.blue-bg {
  background-color: #f2fbff;
}

@media (width < 767px) {
  div.section {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

table{
  border-collapse:collapse;
}

 table  td, table  th{
  border:1px solid white;
   margin: 0 auto;
   padding: 15px 10px;
  font-size:16px;
  line-height:24px;
  color:#5a5a5a;
  font-weight:400;
}

table tbody tr:nth-child(odd) {
  background-color: #EAF1F8;
}

table tbody tr:nth-child(even) {
  background-color: #F2F2F2;
}

.default-content-wrapper .button-container a {
  background: #ed1c24;
  border: 1px solid #ed1c24;
  color: #fff;
  padding: 4px 20px;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}


.hdfc-detail>div>div:nth-child(2) h3 {
  font-weight: 600;
  font-size: 18px;
  color: #005e9e;
  display: flex;
  cursor: text;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: 0;
  outline: 0;
  background-color: unset;
  gap: 10px;
  position: relative;
}

.hdfc-detail>div>div:nth-child(1) p {
  color: #454545;
}

.hdfc-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 18px;
}

.hdfc-detail .button-container .button {
  display: none;
  text-decoration: none;
  color: #0056a5;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}


.hdfc-detail>div>div:nth-child(2) p {
  font-size: 16px;
  line-height: 20px;
  color: #454545;
  font-weight: 400;
  padding-left: 38px;
}

.hdfc-detail>div>div:nth-child(2) p>a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}


.hdfc-detail-dot>div>div:nth-child(2) h3::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #3c4b69;
  flex-direction: row-reverse;
  align-items: flex-start;
  left: 20px;
}

.hdfc-detail-dot>div>div:nth-child(2) h3 {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
}


@media (max-width:768px) {
  .hdfc-detail {
      grid-template-columns: 1fr;
      justify-content: center;
      place-items: center;
      gap: 40px;
  }

  .hdfc-detail .button-container .button {
      display: block;
      text-decoration: none;
  }


  .hdfc-detail>div>div:nth-child(2) p.active {
      max-height: 1000px;
  }

  .hdfc-detail>div>div:nth-child(2) p {
      max-height: 40px;
      overflow: hidden;
      transition: all .5s linear;
  }

  /* dot */
  .hdfc-detail-dot>div>div:nth-child(2) h3 {

      justify-content: flex-end;
  }
}


/* .hdfc-detail.hdfc-detail-img */
.hdfc-detail.hdfc-detail-img {
  gap: unset;
  display: flex;
  border-radius: unset;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.hdfc-detail.hdfc-detail-img>div>div:nth-child(2) h3 {
  color: black;
  font-weight: 600;
  font-size: 22px;
  padding: unset;
  border-bottom: 1px solid #dee2e6;
  gap: 30px;
  padding-bottom: 18px;
}

.hdfc-detail.hdfc-detail-img>div>div:nth-child(2) h3>span {
  padding-left: 15px;
}

.hdfc-detail.hdfc-detail-img>div>div:nth-child(2) p {
  margin-top: 1.5rem;
  font-size: 16px;
  line-height: 20px;
  color: #666;
  font-weight: 400;
}

.hdfc-detail.hdfc-detail-img>div>div:nth-child(2) p>a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.hdfc-detail-img>div {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .hdfc-detail-img>div {
      flex: 0 0 50%;
      max-width: 50%;
      margin-block: 16px;
  }
}

/* .hdfc-detail.hdfc-detail-img  */

.hdfc-card-number {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hdfc-card-number .number-card {
  display: flex;
  gap: 30px;
}

.hdfc-card-number h3 {
  margin-bottom: .5rem;
  font-weight: 600;
  font-size: 22px;
}

.hdfc-card-number p {
  font-size: 16px;
  line-height: 20px;
  color: #454545;
  font-weight: 400;
}

.hdfc-card-number .blue-number {
  flex: none;
  width: 74px;
  height: 74px;
  background: #bddcf8;
  text-align: center;
  padding: 12px;
  border-radius: 50px;
  border: 10px solid #d6e9fa;
  font-size: 22px;
  font-weight: 700;
}

.hdfc-card-number>div .button-container a {
  display: none;
}

@media screen and (width < 768px) {
  .hdfc-card-number .number-card {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
}


/* .hdfc-table */
.hdfc-table table {
  border-collapse: collapse;
}

.hdfc-table table td,
.hdfc-table table th {
  border: 1px solid white;
  margin: 0 auto;
  padding: 15px 10px;
  font-size: 16px;
  line-height: 24px;
  color: #5a5a5a;
  font-weight: 400;
}

.hdfc-table table tbody tr:nth-child(odd) {
  background-color: #EAF1F8;
}

.hdfc-table table tbody tr:nth-child(even) {
  background-color: #F2F2F2;
}

/* .hdfc-table */

.hdfc-overflow .custom-card {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 55px;
  padding-bottom: 50px;
}

.hdfc-overflow .custom-card::-webkit-scrollbar {
  height: 8px;
}

.hdfc-overflow .custom-card::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 #00000040;
}

.hdfc-overflow .custom-card::-webkit-scrollbar-thumb {
  background: #547ED4;
  border-radius: 10px;
}

.hdfc-overflow .custom-card > div >div {
  width: 260px;
}

.hdfc-overflow .custom-card > div img {
  width: 260px;
  height: 100%;
}

@media screen and (width< 768px) {
  .hdfc-overflow .custom-card {
      gap: 20px;
  }

  .hdfc-overflow .custom-card > div > div {
      width: 200px;
  }
  
  .hdfc-overflow .custom-card > div img {
      width: 200px;
      height: 100%;
      cursor: pointer;
  }
}