/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import url("./reset.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-primary: #f27930;
  --color-secondary: #143a72;
  --color-active: #3597ec;
  --color-inactive: #c2c7d1;
  --color-light: #ebedf0;
  --color-dark: #173b70;
  --color-grey-dark: #707070;
  --color-background-primary: #f27930;
  --color-background-light: #ebedf0;
  --color-background-active: #e6f2fd;
  --color-background-default-dark: #f7f8f9;
  --color-shadow-primary: #171a211f;
  --color-shadow-secondary: #171a210f;

  /* Font Sizes */
  --size-font-2xs: 0.512rem;
  --size-font-xs: 0.64rem;
  --size-font-sm: 0.8rem;
  --size-font-base: 1rem;
  --size-font-lg: 1.25rem;
  --size-font-xl: 1.563rem;
  --size-font-2xl: 1.953rem;

  /* Line Heights */
  --line-height-2xs: 0.687rem;
  --line-height-xs: 0.875rem;
  --line-height-sm: 1.125rem;
  --line-height-base: 1.437rem;
  --line-height-lg: 1.75rem;
  --line-height-xl: 2.187rem;
  --line-height-2xl: 2.75rem;

  /* Font Family */
  --font-family-regular: manrope-regular;
  --font-family-semi-bold: manrope-medium;
  --font-family-bold: manrope-bold;
  --font-family-light: manrope-light;
  --font-family-sans: sans-serif;
  --font-family-serif: serif;
  --font-family-mono: monospace;
}

/* Container */
body {
  line-height: 1;
  overflow: hidden auto;
  font-size: var(--font-size-s);
  font-family: poppins-regular, sans-serif;
}

.section > div {
  max-width: 1200px;
  margin: auto;
}

/* Headings */
h1 {
  font-size: var(--size-font-2xl);
  line-height: var(--line-height-2xl);
}

h1,
h2 {
  font-family: var(--font-family-bold);
}

h2 {
  font-size: var(--size-font-xl);
  line-height: var(--line-height-xl);
}

h3 {
  font-family: var(--font-family-bold);
  font-size: var(--size-font-lg);
  line-height: var(--line-height-lg);
}

h4 {
  font-family: var(--font-family-semi-bold);
  font-size: var(--size-font-base);
  line-height: var(--line-height-base);
}

h5 {
  font-size: var(--size-font-sm);
  line-height: var(--line-height-sm);
}

h5,
h6 {
  font-family: var(--font-family-regular);
}

h6 {
  font-size: var(--size-font-xs);
  line-height: var(--line-height-xs);
}

/* Background Colors */

.bg-default-dark-light-gray {
  background-color: var(--color-background-default-dark);
}

.bg-dark-gray {
  background-color: var(--color-background-light);
}

.bg-light-blue {
  background-color: var(--color-background-active);
}

.bg-primary-orange {
  background-color: var(--color-background-primary);
}

@media screen and (width <=767.99px) {
  .section > div {
    width: 90%;
  }
}
