@import url("./footer-searches/footer-searches.css");
@import url("./footer-socials/footer-socials.css");

.block.popular-searches h2 {
  font-size: 20px;
  line-height: 28px;
  font-family: var(--font-family-regular);
  color: var(--color-secondary);
}

.block.popular-searches ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.block.popular-searches ul li a {
  margin-right: 0.75rem;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 600;
  padding: 0.438rem 1rem;
  border-radius: 1.5rem;
  border: solid 1px var(--color-light);
  font-size: 0.8rem;
  cursor: pointer;
  color: #6d7585;
  line-height: 19px;
}

.block.popular-searches ul li a:hover {
  color: var(--color-background-primary);
  border: solid 1px var(--color-background-primary);
  box-shadow: 0 2px 8px 0 rgb(242 121 48 / 16%);
}